/* ========= INFORMATION ============================
	- document:  WP Coder!
	- author:    Dmytro Lobov 
	- url:       https://wow-estore.com/
==================================================== */
html {
  scroll-behavior: smooth;
}

#section1 {
  height: 10px;
  background-color: #fff;
}

#section2 {
  height: 600px;
  background-color: yellow;
}